
WizardSchoolVR/Content/StarterContent/HDRI/HDRI_Epic_Courtyard_Daylight.uasset
WizardSchoolVR/Binaries/Win64/WizardSchoolVREditor.target
WizardSchoolVR/Binaries/Win64/UE4Editor-WizardSchoolVR.pdb
WizardSchoolVR/Binaries/Win64/UE4Editor-WizardSchoolVR.dll
